.route-screen {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
}

.header {
  padding: 1rem;
  background-color: #2871e6;
  color: #0d0d0d;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container {
  flex: 1;
  border-top: 1px solid #ccc;
}



.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  color: #666;
}